{% extends 'sum_summary/layout.html' %}

{% block content %}


<style>
    @CHARSET "UTF-8";

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }

    .login-form {
        margin: 100px auto;
        max-width: 400px;
    }

    form[role=login] {
        color: #5d5d5d;
        background: #f2f2f2;
        padding: 26px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    form[role=login] img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    form[role=login] input,
    form[role=login] button {
        font-size: 18px;
        margin: 16px 0;
    }

    form[role=login]>div {
        text-align: center;
    }
</style>

<section class="container">
  <section class="login-form">
{% if validlink %}
          <form class="form-signin" method="post" action="" role="login">
          <h3>Change password</h3>
          <h10>비밀번호를 재설정 해주시기 바랍니다.</h10>
          {% csrf_token %}
          <input type="password" name="new_password1" placeholder="new Password" required class="form-control input-lg" />
          <input type="password" name="new_password2" placeholder="Retype Password" required class="form-control input-lg" />
          <li>귀하의 비밀번호는 귀하의 다른 개인 정보와 너무 유사 할 수 없습니다.</li>
          <li>비밀번호는 8 자 이상이어야합니다.</li>
          <li>암호는 일반적으로 사용되는 암호가 될 수 없습니다.</li>
          <li>암호는 전적으로 숫자 일 수 없습니다.</li>
          <button type="submit" class="btn btn-lg btn-primary btn-block">비밀번호 재설정</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </section>
  </section>
{% endblock %}
