{% extends 'sum_summary/layout.html' %}

{% block content %}

<section class="main-block light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="add-listing-wrap">
                    <h4>전송이 정상적으로 완료되었습니다.</h4>
                    전송한 이메일을 확인 해주시기 바랍니다.
                    <hr>
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.<br>
                        You should receive them shortly.
                      </p>
                      <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                      </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}