{% extends 'sum_summary/layout.html' %} 
{% block content %}


<script>
        // When the user clicks on <div>, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
</script>
<style>
        @CHARSET "UTF-8";
    
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
        }
    
        .login-form {
            margin: 100px auto;
            max-width: 400px;
        }
    
        form[role=login] {
            color: #5d5d5d;
            background: #f2f2f2;
            padding: 26px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }
    
        form[role=login] img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
    
        form[role=login] input,
        form[role=login] button {
            font-size: 18px;
            margin: 16px 0;
        }
    
        form[role=login]>div {
            text-align: center;
        }      
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        
        /* The actual popup (appears on top) */
        .popup .popuptext {
            font-size: 11px;
            visibility: hidden;
            width: 350px;
            background-color: #555;
            color: #fff;
            text-align: left;
            border-radius: 6px;
            padding: 3px 0;
            position: absolute;
            z-index: 2;
            bottom: 125%;
            left: 100%;
        }
        
        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
        

</style>

<section class="container">
        <section class="login-form">
            
            <form class="form-signin" method="post" role="login">
                <h5>{{user}}의 암호를 변경하십시오.</h5>    
                    {% csrf_token %}
                        
                            <input type="password" name="old_password" placeholder="old Password" autofocus required id="id_old_password" required class="form-control input-lg" />
                            <input type="password" name="new_password1" placeholder="New Password" required class="form-control input-lg" />
                            <input type="password" name="new_password2" placeholder="Retype Password" required class="form-control input-lg" />
                            <span class="helptext"><ul><li>귀하의 비밀번호는 귀하의 다른 개인 정보와 너무 유사 할 수 없습니다.</li><li>비밀번호는 8 자 이상이어야합니다.</li><li>암호는 일반적으로 사용되는 암호가 될 수 없습니다.</li><li>암호는 전적으로 숫자 일 수 없습니다.</li></ul></span></td></tr>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Save changes</button>
            </form>
            {% if messages %}
             <ul class="messages">
                {% for message in messages %}
                 <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
    </section>  
</section>

{% endblock content %}