{% extends 'sum_summary/layout.html' %}


{% block content %}
<style>
        @CHARSET "UTF-8";
    
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
        }
    
        .login-form {
            margin: 200px auto;
            max-width: 700px;
        }
    
        form[role=login] {
            color: #5d5d5d;
            background: #f2f2f2;
            padding: 26px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }
    
        form[role=login] img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
    
        form[role=login] input,
        form[role=login] button {
            font-size: 18px;
            margin: 16px 0;
        }
    
        form[role=login]>div {
            text-align: center;
        }      
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        
        /* The actual popup (appears on top) */
        .popup .popuptext {
            font-size: 11px;
            visibility: hidden;
            width: 350px;
            background-color: #555;
            color: #fff;
            text-align: left;
            border-radius: 6px;
            padding: 3px 0;
            position: absolute;
            z-index: 2;
            bottom: 125%;
            left: 100%;
        }
</style>
<section class="container">
        <section class="login-form">
            <form class="form-signin" method="post" action="" role="login">
                    <h4>{{user}}회원님의 가입사항</h4>
                    <ul>
                        <li>사용자ID : {{user.username}}</li>
                        <li>이메일주소 : {{user.email}}</li>
                        <li>성 : {{user.first_name}}</li>
                        <li>이름 : {{user.last_name}}</li>
                        <li>마지막 접속일 : {{user.date_joined}}</li>
                        <li><a class="btn btn-primary" href="{% url "change_password" %}">비밀번호 변경</a></li> <hr>
                        계정에 관해 기타 문의사항이 있으시면 아래 메일로 연락 바랍니다. <br>
                        <a href ="mailto:sum_speaker@naver.com?[문의]" class="form-link">Contact us (mail).</a>
                    </ul>
            </form>
    </section>  
</section>


{% endblock content %}