{% extends 'sum_summary/layout.html' %} 


{% block content %}
<script>
        // When the user clicks on <div>, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
</script>
<style>
        @CHARSET "UTF-8";
    
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
        }
    
        .login-form {
            margin: 100px auto;
            max-width: 400px;
        }
    
        form[role=login] {
            color: #5d5d5d;
            background: #f2f2f2;
            padding: 26px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }
    
        form[role=login] img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
    
        form[role=login] input,
        form[role=login] button {
            font-size: 18px;
            margin: 16px 0;
        }
    
        form[role=login]>div {
            text-align: center;
        }      
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        
        /* The actual popup (appears on top) */
        .popup .popuptext {
            font-size: 11px;
            visibility: hidden;
            width: 350px;
            background-color: rgb(88, 123, 219);
            color: #fff;
            text-align: left;
            border-radius: 6px;
            padding: 3px 0;
            position: absolute;
            z-index: 2;
            bottom: 100%;
            left: 100%;
        }
        
        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 100%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
        
        /* Toggle this class when clicking on the popup container (hide and show the popup) */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s
        }
        
        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
            from {opacity: 0;} 
            to {opacity: 1;}
        }
        
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }  
</style>


<section class="container">
        <section class="login-form">
            <form class="form-signin" method="post" action="" role="login">
                {% csrf_token %}
                <h3>Register</h3>
                <h5>Create an account.</h5>
                <h10>회원가입을 위해 아래내용을 작성해주세요.</h10></br>
                <div class="popup" onclick="myFunction()">
                    <span class="popuptext" id="myPopup"><li>사용자이름 <br>필수항목. 150 150자 이하. 문자, 숫자 및 @/./+/-/_ only.</li>
                        <li>암호 <br>암호는 다른 개인정보와 너무 비슷할 수 없습니다.<br>비밀번호는 8자 이상이어야 합니다.<br>암호는 일반적으로 사용되는 암호가 될 수 없습니다.<br>암호는 전적으로 숫자 일 수 없습니다.</span>
                            <li>이메일 <br>비밀번호를 찾을때 사용되니 정확히 기입해 주십시오.</li>
                 </div>
                <!--<img src="\images\logo.png" class="img-responsive" alt="" /> -->
                <input type="username"  name="username" onclick="myFunction()" placeholder="Username" required class="form-control input-lg" />
                <input type="first_name"  name="first_name" placeholder="first_name" required class="form-control input-lg" />
                <input type="last_name" name="last_name" placeholder="last_name" required class="form-control input-lg" />
                <input type="email" name="email" placeholder="Email" required class="form-control input-lg" />
                <input type="password" name="password1" placeholder="Password" required class="form-control input-lg" />
                <input type="password" name="password2" placeholder="Retype Password" required class="form-control input-lg" />
                <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">등록</button>
            </form>
    </section>  
</section>

{% endblock content %}