{% extends 'sum_summary/layout.html' %}

{% block content %}
    <section class="slider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <!--<h1>How to summarize articles</h1>-->
                                    <h5>summarizes text to save you time </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="원하는 키워드를 입력하세요" class="btn-group1">
                                        <!--<input type="text" placeholder="New york" class="btn-group2">-->
                                        <button class="btn-form" >
                                            <span class="icon-magnifier search-icon"></span>SEARCH
                                            <i class="pe-7s-angle-right"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
    <!--============================= CATEGORIES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>실시간 검색어 TOP 12</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {%  for name in top10 %}
                        <div class="col-md-3 category-responsive">
                            <a href="javascript:MoveToView('{{candidate.name}}');" class="category-wrap">
                                <div class="category-block">
                                 <h6>{{name}}</h6>
                                </div>
                          </a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--//END CATEGORIES -->
{% endblock content %}