{% extends 'sum_summary/layout.html' %}

{% block content %}
    <!-- jquery required -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script>
    $(function(){
            // Progessbar 
            // Basic example
            $('.example1').click(function(){

                $.preloader.start();

                setTimeout(function(){
                    src : 'sprites3.png'
                    $.preloader.stop();
                }, 3000);

            });

            // Advanced example
            $('.example2').click(function(){

                $.preloader.start({
                    modal: true,
                    src : 'sprites3.png'
                });

                setTimeout(function(){
                    $.preloader.stop();
                }, 3000);

            });

            // With button example
            $('.example3').click(function(){

                var e = $('<div/>').css({'margin-left': '10px', 'display': 'inline-block', 'vertical-align': 'middle'}).insertAfter(this).preloader({src:'sprites3.png'});

                setTimeout(function(){
                    e.preloader('stop');
                }, 3000);

            });
        });
</script>
    <section class="slider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <h5>키워드로 기사 요약과 스피커 기능을 함께</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="원하는 키워드를 입력하세요" class="btn-group1" autofocus>
                                        <!--<input type="text" placeholder="New york" class="btn-group2">-->
                                        <button class="btn-form  example1" >
                                            <span class="icon-magnifier search-icon"></span>SEARCH
                                            <i class="pe-7s-angle-right"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
    <!--============================= CATEGORIES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>실시간 검색어 TOP 12</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {%  for name in top10 %}
                    <div class="col-md-3 category-responsive example2">
                    <a href="javascript:MoveToView('{{name}}');" class="category-wrap">
                        <div class="category-block">
                            <h6>{{forloop.counter}}위. <span class="keyword_name">{{name}}</span></h6>
                        </div>
                      </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--//END CATEGORIES -->

{% endblock content %}