{% extends 'sum_summary/layout.html' %}

{% block content %}

    <!--============================= RESERVE A SEAT =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="col-md-6">
                <h5>정상회담 (Keyword 이름)</h5>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="reserve-seat-block">
                        <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                                <a href="#" class="btn btn-danger">즐겨찾기 등록</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END RESERVE A SEAT -->
    <!--============================= BOOKING DETAILS =============================-->
    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap mt-4">
                        <h5>20 Articles(총 개수) </h5>
                        <hr>
                        <div class="customer-review_wrap">
                            <div class="customer-img">
                                <p>Newis</p>
                            </div>
                            <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">
                                        <h6><b>1.</b> 정상회담 마지막 '전략회의'···남북 정상 별도 오찬 이유</h6>
                                        <p>http://news.naver.com/main/hotissue/read.nhn?mid=hot&sid1=100&cid=1079165&iid=49760169&oid=003&aid=0008565121&ptype=052</p>
                                    </div>
                                </div>
                                <p class="customer-text">
                                    문재인 대통령과 김정은 북한 국무위원장이 27일 2018 남북 정상회담에서 각각 오찬을 별도로 갖기로 한 것은 합의문 발표 직전 마지막 '전략회의'를 하기 위한 선택으로 풀이할 수 있다. 이어 양측이 오찬을 별도로 갖고 오후 2시45분에 정상회담을 속개했다. 국정원이 공개한 2007년 남북 정상회담 대화록에 따르면 당시 오전 회담 때 김정일 위원장이 15분 휴식을 제안했고 "오후에 시간을 조금 주시죠"라는 이재정 통일부 장관의 요청에 따라 2시30분에 재개하는 걸로 결론이 났었다.
                                </p>
                            </div>
                        </div>
                         <div class="customer-review_wrap">
                            <div class="customer-img">
                                <p>Newis</p>
                            </div>
                            <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">
                                       <h6><b>2.</b>정상회담 마지막 '전략회의'···남북 정상 별도 오찬 이유</h6>
                                        <p>http://news.naver.com/main/hotissue/read.nhn?mid=hot&sid1=100&cid=1079165&iid=49760169&oid=003&aid=0008565121&ptype=052</p>
                                    </div>
                                </div>
                                <p class="customer-text">
                                    문재인 대통령과 김정은 북한 국무위원장이 27일 2018 남북 정상회담에서 각각 오찬을 별도로 갖기로 한 것은 합의문 발표 직전 마지막 '전략회의'를 하기 위한 선택으로 풀이할 수 있다. 이어 양측이 오찬을 별도로 갖고 오후 2시45분에 정상회담을 속개했다. 국정원이 공개한 2007년 남북 정상회담 대화록에 따르면 당시 오전 회담 때 김정일 위원장이 15분 휴식을 제안했고 "오후에 시간을 조금 주시죠"라는 이재정 통일부 장관의 요청에 따라 2시30분에 재개하는 걸로 결론이 났었다.
                                </p>
                            </div>
                        </div>
                         <div class="customer-review_wrap">
                            <div class="customer-img">
                                <p>Newis</p>
                            </div>
                            <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">
                                       <h6><b>3.</b>정상회담 마지막 '전략회의'···남북 정상 별도 오찬 이유</h6>
                                        <p>http://news.naver.com/main/hotissue/read.nhn?mid=hot&sid1=100&cid=1079165&iid=49760169&oid=003&aid=0008565121&ptype=052</p>
                                    </div>
                                </div>
                                <p class="customer-text">
                                    문재인 대통령과 김정은 북한 국무위원장이 27일 2018 남북 정상회담에서 각각 오찬을 별도로 갖기로 한 것은 합의문 발표 직전 마지막 '전략회의'를 하기 위한 선택으로 풀이할 수 있다. 이어 양측이 오찬을 별도로 갖고 오후 2시45분에 정상회담을 속개했다. 국정원이 공개한 2007년 남북 정상회담 대화록에 따르면 당시 오전 회담 때 김정일 위원장이 15분 휴식을 제안했고 "오후에 시간을 조금 주시죠"라는 이재정 통일부 장관의 요청에 따라 2시30분에 재개하는 걸로 결론이 났었다.
                                </p>
                            </div>
                        </div>
                             <div class="customer-review_wrap">
                            <div class="customer-img">
                                <p>Newis</p>
                            </div>
                            <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">
                                       <h6><b>4.</b>정상회담 마지막 '전략회의'···남북 정상 별도 오찬 이유</h6>
                                        <p>http://news.naver.com/main/hotissue/read.nhn?mid=hot&sid1=100&cid=1079165&iid=49760169&oid=003&aid=0008565121&ptype=052</p>
                                    </div>
                                </div>
                                <p class="customer-text">
                                    문재인 대통령과 김정은 북한 국무위원장이 27일 2018 남북 정상회담에서 각각 오찬을 별도로 갖기로 한 것은 합의문 발표 직전 마지막 '전략회의'를 하기 위한 선택으로 풀이할 수 있다. 이어 양측이 오찬을 별도로 갖고 오후 2시45분에 정상회담을 속개했다. 국정원이 공개한 2007년 남북 정상회담 대화록에 따르면 당시 오전 회담 때 김정일 위원장이 15분 휴식을 제안했고 "오후에 시간을 조금 주시죠"라는 이재정 통일부 장관의 요청에 따라 2시30분에 재개하는 걸로 결론이 났었다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="reserve-seat-block2">
                <div class="reserve-btn">
                    <div class="featured-btn-wrap">
                        <a href="#" class="btn btn-danger">즐겨찾기 등록</a>
                        <a href="#" class="btn btn-danger">음성지원</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END BOOKING DETAILS -->

{% endblock content %}

