{% extends 'sum_summary/layout.html' %}

{% block content %}

    <!--============================= RESERVE A SEAT =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="col-md-6">
                <h5>입력하신 KEYWORD : <span class="keyword_color">{{current_keyword}}</span></h5>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="reserve-seat-block">
                        <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                            {% if user.is_authenticated %}
                                <form action ="{% url 'bookmark_register' %}?user={{user}}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="username" value="{{user}}">
                                    {% for keyword in Keywords%}
                                        <input type="hidden" name="keywords_{{forloop.counter}}" value="{{keyword.id}}">
                                        <input type="hidden" name="result" value="{{result}}">
                                    {% endfor %}
                                    <button name="current_keyword" class="btn btn-danger" value="{{current_keyword}}">즐겨찾기 등록</button>
                            {% else %}
                                <button class="btn btn-danger register-bookmark">즐겨찾기 등록</button>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END RESERVE A SEAT -->
    <!--============================= BOOKING DETAILS =============================-->
    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap mt-4">
                        <h5>{{Keywords_len}} Articles(총 개수) </h5>
                        <hr>
                        {% for keyword in Keywords %}
                        <div class="customer-review_wrap">
                            <div class="customer-img">
                                <p>{{keyword.author}}</p>
                            </div>
                            <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">
                                        <h6><b>{{forloop.counter}}.</b> {{keyword.title}}</h6>
                                        <h7><a href={{keyword.link}}>{{keyword.link}}</a></h7>
                                    </div>
                                </div>
                                <p class="customer-text">
                                    {{keyword.summary}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="reserve-seat-block2">
                <div class="reserve-btn">
                    <div class="featured-btn-wrap">
                            {% if user.is_authenticated %}
                                <form action ="{% url 'bookmark_register' %}?user={{user}}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="username" value="{{user}}">
                                    {% for keyword in Keywords%}
                                        <input type="hidden" name="keywords_{{forloop.counter}}" value="{{keyword.id}}">
                                        <input type="hidden" class="bookmark_register_result" name="result" value="{{result}}">
                                    {% endfor %}
                                    <button name="current_keyword" class="btn btn-danger" value="{{current_keyword}}">즐겨찾기 등록</button>
                            {% else %}
                                <button class="btn btn-danger register-bookmark">즐겨찾기 등록</button>
                            {% endif %}
                        <a href="#" class="btn btn-danger">음성지원</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END BOOKING DETAILS -->

{% endblock content %}

